<div class="container">
    <div class="jumbotron" id="jumbotron">
        <h1>About Our Team</h1>
        <img src="/public/img/piggybank.jpg" alt="Bank" width="145px" class="center">
    </div>
    <div class="col-xs-12 col-lg-10" style="font-family: 'Roboto', sans-serif;">
        <p class="lead">
            Whether a musician, dancer, writer, or visual artist the Artist Savor is what you need.
        </p>
        <p class="mb-2.5">
            The Artist Savor was a developed idea from a professional musician for professional musicians that feels it is important to Save while working as an Artist. It serves and protects you when art is not available to create (a rainy day or year).
        </p>
        <p class="mb-2.5">
            We provide a platform for you to sock-away money unlike any other institution; no monthly fees, no interest added or taken; complete control from the user, and it creates new ways to help you save money monthly and yearly.
        </p>
        <p class="mb-2.5">
            This application allows you to save without feeling like you must sacrifice, but really you are, and you will see it yearly. Just think if you save $500 dollars a year at a rate that seems reasonable all at once or in partial payments with in 5-20 years you will have grown artistically and financially. 
        </p>
        <p class="text-center">
            We are your Artist-Saving Application!
        </p>
        <h2>
            &copy; The Artist Savor Development Team <br>
            Dan Ayers <br>
            Victor Litzau <br>
            Kobie Watkins </h2>

    </div>
</div>
