@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

form.signup,
form.login {
  margin-top: 50px;
}

body {
  background: rgb(161, 161, 182);
  background-size: cover;
  min-height: 680px;
  width: 100%;
  margin: 0px, 0px;
}

.navbar-brand {
  font-size: 40px;
}

ul.navbar-nav.mr-auto {
  padding: 16px;
  list-style: none;
}

li.nav-item.active {
  padding-right: 10px;
}

a.nav-link1 {
  padding-right: 10px;
}

a.nav-link2 {
  padding-right: 20px;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.main {
  padding-top: 75px;
  padding-left: 25px;
  position: center;
}

#navAS {
  height: 90px;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}
h1 {
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  font-family: "Arial", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 23px;
  font-weight: 450;
}

h4 {
  font-size: 23px;
  font-weight: 450px;
}

h5 {
  font-size: 23px;
  font-weight: 450px;
}

h6 {
  font-size: 42px;
  font-weight: 500;
}

.form-group {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#jumbo {
  background: linear-gradient(to top, #a8dde6 0%, #a2bbd4 59%);
  border: 2px solid #a8dde6;
  border-style: ridge;
}

.container {
  position: relative;
  overflow: hidden;
}

#pieChart {
  width: 45%;
  margin: 15px auto;
}

.center {
  margin: 0;
  position: absolute;
  top: 85%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50, -50%);
}

.center1 {
  margin: 0;
  position: absolute;
  top: 80%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50, -50%);
}

#gigMoneyOut {
  float: right;
  height: 50px;
  width: 200px;
  border: 0;
  line-height: 1;
  margin-top: 1.5rem;
  background-color: #ffec0e;
  color: black;
  border: 2px solid #cdc700;
  border-radius: 15px;
}

#gigMoneyIn {
  height: 50px;
  width: 200px;
  border: 0;
  line-height: 1;
  margin-top: 1.5rem;
  background-color: #1aee20;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 15px;
}

#payBtn {
  margin-top: 1.5rem;
  background-color: #1aee20;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

#costBtn {
  margin-top: 1.5rem;
  background-color: #ffec0e;
  color: black;
  border: 2px solid #cdc700;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
